---
- name: Get service ID
  uri:
    url: "{{KONG_ADMIN_URL}}/services/{{route.service_name}}?jwt={{KONG_JWT}}"
    method: GET
    status_code: "200"
  register: service_result

- name: Fail if service ID cannot be found
  fail:
    msg: "Service cannot be found"
  when: service_result.json.id is not defined

- name: Generate route ID
  set_fact:
    route_id: "{{ 9999999999999999999999 | random | to_uuid }}"

- name: Create route
  uri:
    url: "{{KONG_ADMIN_URL}}/routes/{{ route_id }}?jwt={{KONG_JWT}}"
    method: PUT
    body:
      service:
        id: "{{ service_result.json.id }}"
      hosts: "{{ route.hosts }}"
    body_format: json
    status_code: "200,201"
    body_format: json

